@import "../iconfont/iconfont.css";
@import "index";
*{
  margin:0;
  padding:0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  tap-highlight-color: transparent;
  outline: 0;
  word-break: break-all;
}
html{
  height: 100%;
}
body{
  font-family: "Microsoft YaHei","微软雅黑",tahoma,arial,'Hiragino Sans GB',sans-serif;
  height: 100%;
  font-size: 20px;
}
@for $i from 1 through 20{
  .mt-#{$i*5}{
    margin-top: $i*5px !important;
  }
  .mb-#{$i*5}{
    margin-bottom: $i*5px !important;
  }
  .w-#{$i*5}{
    margin: 0 auto;
    width: percentage($i*5/100) !important;
  }
}
.float-r{float: right}
.float-l{float: left}
.t-a-l{text-align: left}
.t-a-r{text-align: right}
.t-a-c{text-align: center}
.hide {display: none !important;}