.wp{
  padding: 20px;
  width: 100%;
  height: 100%;
}
.container {
  color: #f90;
  width: 300px;
  height: 200px;
  border-radius: 20px;
  border: 1px solid #ccc;
  flex: 1;
  box-sizing: border-box;
  p {
      color: red;
  }
}

.exc {
  @extend .container;
  p {
      color: blue;
  }
}

@svg 1px-border {
  height: 1px;
  @rect {
    fill: var(--color, black);
    width: 100%;
    height: 50%;
  }
}

.b-1px{
  height: 100px;
  margin-bottom: 10px;
  border: 1px solid transparent;
  border-image: svg(1px-border param(--color #00b1ff)) 2 2 stretch;
}


.transitionWrapper {
  background: #fff;
  width: 100%;
  height: 100%;
}
.transitionWrapper {
  position: relative;
  &>div{
    height: 100%;
  }
}

.push-enter,
.push-leave {
  position: absolute;
  top: 0;
  left: 0;
}

.push-enter {
  transform: translate3d(100%, 0, 0);
  z-index: 2;
  
}

.push-enter.push-enter-active {
  transform: translate3d(0%, 0, 0);
  transition: all 0.2s ease-in;
}

.push-leave {
  transform: translate3d(0%, 0, 0);
  z-index: 1;
}

.push-leave.push-leave-active {
  transform: translate3d(-20%, 0, 0);
  transition: all 0.2s ease-in;
}




.pop-enter,
.pop-leave {
  position: absolute;
  top: 0;
  left: 0;
}

.pop-enter {
  transform: translate3d(-20%, 0, 0);
  z-index: 1;
}

.pop-enter.pop-enter-active {
  transform: translate3d(0%, 0, 0);
  transition: all 0.2s ease-in;
}

.pop-leave {
  transform: translate3d(0%, 0, 0);
  z-index: 2;
}

.pop-leave.pop-leave-active {
  transform: translate3d(100%, 0, 0);
  transition: all 0.2s ease-in;
}


.fade-enter {
  opacity: 0;
  z-index: 1;
}

.fade-enter.fade-enter-active {
  opacity: 1;
  transition: opacity 250ms ease-in;
}